/* Navigation section Css */

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 60%;
    align-items: center;
    overflow: hidden;
    padding-bottom: 2%;
  }
  
li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
} 
ul.centerUL {
    margin: auto;
    line-height: 1.4;
    padding-top: 5%;
    list-style-type: none;
    color: white;
}
.centerUL li {
    display: inline;
    color: white;
    text-align: center;
}


