@property --border {
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
}

.box {
    padding: 30px 50px;
    margin: 5px;
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
    cursor: pointer;
    position: relative;
    clip-path: polygon(var(--path));
    transition: .5s;
}

.box:before {
    content: "";
    position: absolute;
    inset: 0;
    -webkit-mask: paint(polygon-border);
    border-bottom: 2px solid red;
    border-right: 2px solid red;
}

.box:hover {
    background: lightblue;
}

body {
    background: pink;
}